div.block-container { padding-bottom: 100px; }

.stChatInputContainer {
  position: floating;
  bottom: 20px;
  width: calc(100% - 420px);
}

section[data-testid="stChatMessageContainer"] {
  margin-bottom: 100px;
}
